@charset "UTF-8";

@font-face {
    font-family: 'arconregular';
    src: url('../font/arcon-regular-webfont.woff2') format('woff2'),
         url('../font/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fefefe;
  background: radial-gradient(#fefefe, #dedede);
  font-family: 'arconregular', sans-serif;
  text-align: center;
  color: #1c1c1c;
}

#main_box {
  width: 400px;
  padding-top: 100px;
  margin: auto;
  text-align: left;
}

#main_logo {
  text-align: center;
  padding-bottom: 20px;
}

#main_desc {
  padding: 0px 10px 20px 10px;
  text-align: justify;
}

#main_desc h4 {

}

#main_desc p {

}

#main_nav {
  border-top: 1px dashed #cecece;
  border-bottom: 1px dashed #cecece;
}

#main_nav ul {
  margin: 0;
  padding: 0;
}

#main_nav li {
  display: block;
  margin: 8px 0px 8px 0px;
  text-transform: uppercase;
  text-align: center;
}

#main_nav li span {
  display: block;
  padding: 15px 0px 15px 0px;
  color: #1c1c1c;
  background-color: #cecece;
}

#main_nav li a {
  display: block;
  padding: 15px 0px 15px 0px;
  background-color: #1c1c1c;
  color: #eaeaea;
  text-decoration: none;
}

#main_nav li a:hover,
#main_nav li a:focus {
  background-color: #690896;
}

#main_license {
  font-size: 0.8em;
  text-align: right;
}
